n8n:
  ingress:
    enabled: true
    className: tailscale
    hosts:
      - host: n8n
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: n8n-tls
        hosts:
          - n8n

  main:
    config:
      n8n:
        host: n8n.marlin-tet.ts.net
        protocol: https
        editor:
          baseUrl: https://n8n.marlin-tet.ts.net
      webhook:
        url: https://n8n.marlin-tet.ts.net

    persistence:
      enabled: true
      type: dynamic
      size: 1Gi

    resources:
      requests:
        cpu: 250m
        memory: 500Mi
      limits:
        memory: 1000Mi
