loki:
  deploymentMode: Distributed
  globals:
    extraEnvFrom:
      - secretRef:
          name: s3-credentials
  loki:
    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    ingester:
      chunk_encoding: snappy
    pattern_ingester:
      enabled: true
    limits_config:
      allow_structured_metadata: true
      volume_enabled: true
      retention_period: 672h # 28 days retention
    storage:
      type: s3
      bucketNames:
        chunks: bc4-loki-nbg1-prod1
        ruler: bc4-loki-nbg1-prod1
        admin: bc4-loki-nbg1-prod1
      s3:
        endpoint: nbg1.your-objectstorage.com

  ingester:
    replicas: 3
    resources:
      requests:
        cpu: 250m
        memory: 1Gi
      limits:
        memory: 2Gi
    zoneAwareReplication:
      enabled: false
  querier:
    replicas: 3
    maxUnavailable: 2
    resources:
      requests:
        cpu: 250m
        memory: 1Gi
      limits:
        memory: 4Gi
  queryFrontend:
    replicas: 2
    maxUnavailable: 1
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        memory: 2Gi
  queryScheduler:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi
  distributor:
    replicas: 3
    maxUnavailable: 2
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        memory: 1Gi
  compactor:
    replicas: 1
    resources:
      requests:
        cpu: 250m
        memory: 1Gi
      limits:
        memory: 4Gi
  indexGateway:
    replicas: 2
    maxUnavailable: 1
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        memory: 1Gi
  lokiCanary:
    kind: Deployment
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 256Mi
  resultsCache:
    replicas: 1
    allocatedMemory: 256
  chunksCache:
    replicas: 1
    allocatedMemory: 2048
  gateway:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 256Mi

  # Disable experimental components
  bloomPlanner:
    replicas: 0
  bloomBuilder:
    replicas: 0
  bloomGateway:
    replicas: 0

  # Disable components not used in this deployment mode
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0
  singleBinary:
    replicas: 0
