---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-secret
spec:
  secretStoreRef:
    kind: SecretStore
    name: default
  target:
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: grafana-admin/username
    - secretKey: password
      remoteRef:
        key: grafana-admin/password